<div id="<%= dom_id sudoku_board %>">
  <p>
    <strong>Grid size:</strong>
    <%= sudoku_board.grid_size %>
  </p>

  <p>
    <strong>Grid content:</strong>
    <%= sudoku_board.grid_content %>
  </p>

</div>
