<% content_for :title, "New balatro card" %>

<h1>New balatro card</h1>

<%= render "form", balatro_card: @balatro_card %>

<br>

<div>
  <%= link_to "Back to balatro cards", balatro_cards_path %>
</div>
