<% content_for :title, "Editing balatro hand type" %>

<h1>Editing balatro hand type</h1>

<%= render "form", balatro_hand_type: @balatro_hand_type %>

<br>

<div>
  <%= link_to "Show this balatro hand type", @balatro_hand_type %> |
  <%= link_to "Back to balatro hand types", balatro_hand_types_path %>
</div>
