<% content_for :title, "New balatro hand type" %>

<h1>New balatro hand type</h1>

<%= render "form", balatro_hand_type: @balatro_hand_type %>

<br>

<div>
  <%= link_to "Back to balatro hand types", balatro_hand_types_path %>
</div>
