<div id="<%= dom_id balatro_hand %>">
  <p>
    <strong>Name:</strong>
    <%= balatro_hand.name %>
  </p>

  <p>
    <strong>Balatro hand type:</strong>
    <%= balatro_hand.balatro_hand_type_id %>
  </p>

  <p>
    <strong>Chip total:</strong>
    <%= balatro_hand.chip_total %>
  </p>

</div>
