<% content_for :title, "Editing balatro hand" %>

<h1>Editing balatro hand</h1>

<%= render "form", balatro_hand: @balatro_hand %>

<br>

<div>
  <%= link_to "Show this balatro hand", @balatro_hand %> |
  <%= link_to "Back to balatro hands", balatro_hands_path %>
</div>
