<% content_for :title, "New balatro hand" %>

<h1>New balatro hand</h1>

<%= render "form", balatro_hand: @balatro_hand %>

<br>

<div>
  <%= link_to "Back to balatro hands", balatro_hands_path %>
</div>
